body
{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
/* Media Queries for hiding the side bar */
@media (orientation:portrait) {
span {
display: none; /* visibility: none; */
}
}
@media (orientation:landscape) and (max-width: 767px) {
span {
display: none; /* visibility: none; */
}
}
.topper{
margin-left: 34px;
width: 489px;
overflow: hidden;
background-color: green;
}
.topper a {
background-color: #138808;
float: left;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.topper a:hover {
background-color:#FF9933;
color: black;
}
.side-bar{
width: 100px;
height:300px;
background-color: orange;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}
.sidenav a:hover {
color: #f1f1f1;
}
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
.para-one{
margin-left: 34px;
width: 500px;
text-align: justify;
color:maroon;
font-family: "Open Sans script=all rev=1";
font-size: 20px;
}
.para-two{
margin-left: 34px;
width: 500px;
text-align: justify;
color:purple;
font-family: "Open Sans script=all rev=1";
font-size: 20px;
}
.states{
font-style: italic;
color:red;
}
.youtube{
float: right;
}